<div class="container">
  <div class="row">
    <div class="col-12 my-2">
      <h1>Boletas de Servicio</h1>
    </div>
    <div class="col-12 my-2">
      <button mat-flat-button color="primary" (click)="_service.url('/dashboard/boleta-servicio/create')">Crear
        Boleta</button>
    </div>
  </div>
  <div class="col-12 my-2">
    <form class="filter-dropdown" [formGroup]="form">
      <div class="contect-buscar">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Buscar" formControlName="buscar" (keyup)="cargarLista()">
      </div>
      <button class="filter-dropdown-btn">
        <i class="fa fa-filter"></i> Filtros
      </button>
      <div class="filter-dropdown-content">
        <div class="filter-container">
          <div class="filter-row">
            <label for="fecha-salida">Fecha Salida</label>
            <input type="date" id="fecha-salida" formControlName="fecha_salida">

            <label for="fecha-regreso">Fecha Regreso</label>
            <input type="date" id="fecha-regreso" formControlName="fecha_regreso">
          </div>

          <div class="filter-row">
            <label for="lancha">Lancha</label>
            <ngx-select-dropdown 
                [config]="config1" 
                [options]="arrayEmbarcaciones"
                formControlName="servicio"
                placeholder = "Seleccione una moto nave">
            </ngx-select-dropdown>
            <!-- <select id="lancha" formControlName="lancha">
              <option value="">Seleccionar</option>
              @for (item of arrayEmbarcaciones; track $index) {
              <option [value]="item.id">{{ item.nombre }}</option>
              }
            </select> -->

            <label for="destino">Destino</label>
            <ngx-select-dropdown 
                [config]="config2" 
                [options]="arrayDestino"
                formControlName="destino"
                placeholder = "Seleccione una moto nave">
            </ngx-select-dropdown>
            <!-- <select id="destino" formControlName="destino">
              <option value="">Seleccionar</option>
              @for (item of arrayDestino; track $index) {
              <option [value]="item.id">{{ item.nombre }}</option>
              }
            </select> -->

            <label for="piloto">Piloto</label>
            <ngx-select-dropdown 
                [config]="config3" 
                [options]="arrayPilotos"
                formControlName="piloto"
                placeholder = "Seleccione una moto nave">
            </ngx-select-dropdown>
            <!-- <select id="destino" formControlName="piloto">
              <option value="">Seleccionar</option>
              @for (item of arrayPilotos; track $index) {
              <option [value]="item.id">{{ item.nombre }}</option>
              }
            </select> -->
          </div>

          <div class="filter-row">
            <label for="motonave">Motonave</label>
            <ngx-select-dropdown 
                [config]="config4" 
                [options]="arrayMotonaves"
                formControlName="motoNave"
                placeholder = "Seleccione una moto nave">
            </ngx-select-dropdown>
            <!-- <select id="motonave" formControlName="motoNave">
              <option value="">Seleccionar</option>
              @for (item of arrayMotonaves; track $index) {
              <option [value]="item.id">{{ item.nombre }}</option>
              }
            </select> -->

            <label for="servicio">Servicio</label>
            <ngx-select-dropdown 
                [config]="config5" 
                [options]="arrayServicios"
                formControlName="destino"
                placeholder = "Seleccione una moto nave">
            </ngx-select-dropdown>
            <!-- <select id="servicio" formControlName="servicio">
              <option value="">Seleccionar</option>
              @for (item of arrayServicios; track $index) {
              <option [value]="item.id">{{ item.nombre }}</option>
              }
            </select> -->

            <label for="estado">Estado</label>
            <select id="estado" formControlName="estado">
              <option value="">Seleccionar</option>
              <option value="Aprobado">Aprobado</option>
              <option value="Pendiente">Pendiente</option>
              <option value="Rechazado">Rechazado</option>
            </select>
          </div>

          <div class="button-container">
            <button class="filter-btn" (click)="cargarLista()">Filtrar</button>
            <button class="reset-btn" (click)="clearForm()">Resetear Filtros</button>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Fecha Salida</th>
          <th>Hora Salida</th>
          <th>Fecha Regreso</th>
          <th>Hora Regreso</th>
          <th>Duracion</th>
          <th>Lancha</th>
          <th>Destino</th>
          <th>Piloto</th>
          <th>Motonave</th>
          <th>Servicio</th>
          <th>Trabajadores</th>
          <th>Estado de facturación</th>
          <th>Estado</th>
          <th>PDF</th>
        </tr>
      </thead>
      <tbody>
        @for (item of arrayBoletas; track $index) {
        <tr>
          <td data-label="Fecha Salida">{{ item.fecha_salida }}</td>
          <td data-label="Hora Salida">{{ item.hora_salida }}</td>
          <td data-label="Fecha Regreso">{{ item.fecha_regreso }}</td>
          <td data-label="Hora Regreso">{{ item.hora_regreso }}</td>
          <td data-label="Duracion">{{ item.duracion }}</td>
          <td data-label="Lancha">{{ item.lancha }}</td>
          <td data-label="Destino">{{ item.destino }}</td>
          <td data-label="Piloto">{{ item.piloto }}</td>
          <td data-label="Motonave">{{ item.motonave }}</td>
          <td data-label="Servicio">{{ item.servicio }}</td>
          <td data-label="Trabajadores">
            <div class="tres_puntos">
              {{ item.trabajadores }}
            </div>
          </td>
          <td data-label="Estado de facturación">
            <select name="" id="" [value]="item.facturacion" (change)="cambiarFacturacion($event, item.id)">
              <option value="Por Facturar">Por Facturar</option>
              <option value="Facturado">Facturado</option>
            </select>
          </td>
          <td data-label="Estado">
            <select name="" id="" [value]="item.estado" (change)="cambiarEstado($event, item.id)">
              <option value="Aprobado">Aprobado</option>
              <option value="Pendiente">Pendiente</option>
              <option value="Rechazado">Rechazado</option>
            </select>
          </td>
          <td>
            <i class="fa-solid fa-file-pdf" (click)="descargarPdf(item.id)"></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>