<div class="container">
    <div class="row">
        <div class="col-12 my-2">
            <h1>Lanchas</h1>
        </div>
        <div class="col-12 my-2">
            <button mat-flat-button color="primary" (click)="_service.url('/dashboard/lanchas/create')">Crear
                lancha</button>
        </div>
    </div>
    <div class="col-12 my-2">
        <form class="filter-dropdown" [formGroup]="form">
            <div class="contect-buscar">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Buscar" formControlName="buscar" (keyup)="cargarLista()">
            </div>
        </form>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (item of dataSource; track $index) {
                    <tr>
                        <td data-label="ID">{{item.id_lancha}}</td>
                        <td data-label="Nombre">{{item.nombre}}</td>
                        <td data-label="Estado">{{item.estado}}</td>
                        <td>
                            <button mat-icon-button color="primary" (click)="_service.url('/dashboard/lanchas/edit/' + item.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
